body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .topnav {
    overflow: hidden;
    background-color: #e65c5c;
  }
  
  .topnav a {
    float: left;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: block;
    color:black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    align-items: center;
    margin-left: 60px;
  }
  
  .topnav a:hover {
    /* background-color: #ddd; */
    color: #ddd;
  }
  
  /* .topnav a.active {
    background-color: #04AA6D;
    color: black; */
  /* } */
  
  .topnav .icon {
    display: none;
  }
  
  @media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
  }
  
  @media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }
  .row{
    display:flex;
    /* display:grid; */
  }
  .col{
    flex:50%;
    /* margin:50px; */
  }
  .container{
    width:100%;
    height:80%;
    display:flex;
    background-color: #e2bb89;
    background-color: #ffffbb;
    /* background-color:rgba(173, 53, 63, 0.968);
     */
    /* margin-left:50px; */
    /* margin-top:10px; */
    display: flex;
    flex-direction: column;
  }
  #column{
    padding: 30px;
    font-size:large;
    
  }
  #text{
    font-size: 20px;
    padding:20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  button{
    margin:15px;
    padding:14px;
    padding-left:20px;
    /* margin-left:50px; */
    font-size: 20px;
    color: white;
    background-color:rgb(236, 83, 83);
    border-color:rgb(236, 83, 83);
    

  }
  img{
    width:100%;
    height:100%;
  }
  .box{
    width:25vw;
    height:15vw;
    background-color:#FA8072;
    padding:10px;
    margin-left:40px;
    margin-top:30px;
  }
  .top {
    padding-top:100px;
    margin-left:90px;
  }

  /* .container {
    display: flex;
    flex-direction: row;
  } */
  
  /* .row {
    display: flex;
    flex-direction: column;
  } */
  